{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
        Лайфхак для тех, кто это смотрит (зачем???) - если ничего не понимать, но долго тыкаться в код, то
        рано или поздно что-то начнет проясняться, проверено. Главное - постараться все понятое не забыть
        на следующий же день :(
    </p>
  </article>
</div>
{% endblock %}